# Tableau Assignment - Citi Bike Analytics
----

### Summary
This notebook shows the process to clean, explore, merge and analyze the data sets
with information for the `New York Citi Bike Program` from `2018`.


__Note__. The csv files were not saved in this repository because they are very large, 
but you can download them from https://s3.amazonaws.com/tripdata/index.html

----

In [1]:
# Dependencies
import pandas as pd
import datetime
import math
import numpy as np

In [48]:
# Function to calculate distance between latitude longitude pairs with Python -  haversine.py
# Available in https://gist.github.com/rochacbruno/2883505

# Function to calculate the distance between two points using coordinates
def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 3956 # for miles

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

### __Explore data sets from 2018__

Took January to define the variables for Tableau

In [2]:
# Read file and print the number of records and data types
csv_name = "./2018/201801.csv"
jan_df = pd.read_csv(csv_name, low_memory=False) 
print("Records Jan2018 : " + str(jan_df.count()))

Records Jan2018 : tripduration               718994
starttime                  718994
stoptime                   718994
start station id           718994
start station name         718994
start station latitude     718994
start station longitude    718994
end station id             718994
end station name           718994
end station latitude       718994
end station longitude      718994
bikeid                     718994
usertype                   718994
birth year                 718994
gender                     718994
dtype: int64

In [3]:
# Add columns to make transformations
jan_df.insert(0, 'year', 2018)
jan_df.insert(1, 'month', 'Jan')
jan_df.insert(3, 'tripdurmin', 0)
jan_df.insert(5, 'starthour', 0)
jan_df.insert(6, 'weekday', 0)
jan_df.insert(16, 'distance', 0)
jan_df.insert(21, 'age', 0)
jan_df.insert(22, 'sgender', '')
jan_df.insert(23, 'season', 'Winter')
jan_df.insert(24, 'mileage', 0)

In [4]:
# Transform the values for gender
jan_df.loc[jan_df['gender'] == 0, 'sgender'] = 'Unknown'
jan_df.loc[jan_df['gender'] == 1, 'sgender'] = 'Male'
jan_df.loc[jan_df['gender'] == 2, 'sgender'] = 'Female'

In [5]:
# Calculate the age of the person considering that the year was 2018
jan_df['age'] = 2018 - jan_df['birth year']

In [6]:
# Transform the durantion of the trip from seconds to minutes
jan_df['tripdurmin'] = jan_df['tripduration'] / 60

In [7]:
# Extact the hour fron the startime
jan_df['starthour'] = pd.to_datetime(jan_df["starttime"]).dt.strftime('%H')

In [8]:
# Calculate the weekday fron the startime
jan_df['weekday'] = pd.to_datetime(jan_df["starttime"]).dt.strftime('%A')

In [176]:
# Calculate the distance in miles from start station to end station
jan_df['distance'] = jan_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [9]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
jan_df.loc[jan_df['tripdurmin'] <= 120, 'mileage'] = (jan_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
jan_df.loc[jan_df['tripdurmin'] > 120, 'mileage'] = (jan_df['tripdurmin'] / 60) * 14.9

In [10]:
# View results
jan_df.head()

,year,month,tripduration,tripdurmin,starttime,starthour,weekday,stoptime,start station id,start station name,...,end station longitude,distance,bikeid,usertype,birth year,gender,age,sgender,season,mileage
0,2018,Jan,970,16.166667,2018-01-01 13:50:57.4340,13,Monday,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,...,-73.988484,0,31956,Subscriber,1992,1,26,Male,Winter,2.008978
1,2018,Jan,723,12.050000,2018-01-01 15:33:30.1820,15,Monday,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,...,-73.994685,0,32536,Subscriber,1969,1,49,Male,Winter,1.497413
2,2018,Jan,496,8.266667,2018-01-01 15:39:18.3370,15,Monday,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,...,-74.002116,0,16069,Subscriber,1956,1,62,Male,Winter,1.027271
3,2018,Jan,306,5.100000,2018-01-01 15:40:13.3720,15,Monday,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,...,-73.985162,0,31781,Subscriber,1974,1,44,Male,Winter,0.633760
4,2018,Jan,306,5.100000,2018-01-01 18:14:51.5680,18,Monday,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,...,-73.984706,0,30319,Subscriber,1992,1,26,Male,Winter,0.633760

### Explore the data to find obvious outliers or false data

Only for January

In [179]:
# View data frame information - How many trips have been recorded - Percentage of ridership growth
jan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718994 entries, 0 to 718993
Data columns (total 25 columns):
year                       718994 non-null int64
month                      718994 non-null object
tripduration               718994 non-null int64
tripdurmin                 718994 non-null float64
starttime                  718994 non-null object
starthour                  718994 non-null object
weekday                    718994 non-null object
stoptime                   718994 non-null object
start station id           718994 non-null int64
start station name         718994 non-null object
start station latitude     718994 non-null float64
start station longitude    718994 non-null float64
end station id             718994 non-null int64
end station name           718994 non-null object
end station latitude       718994 non-null float64
end station longitude      718994 non-null float64
distance                   718994 non-null float64
bikeid                     718994 non-null int64
usertype                   718994 non-null object
birth year                 718994 non-null int64
gender                     718994 non-null int64
age                        718994 non-null int64
sgender                    718994 non-null object
season                     718994 non-null object
mileage                    718994 non-null float64
dtypes: float64(7), int64(8), object(10)
memory usage: 137.1+ MB

In [65]:
# Proportion of short-term customers and annual subscribers
jan_df.usertype.value_counts()

Subscriber    696886
Customer       22108
Name: usertype, dtype: int64

In [33]:
# Peak hours in which bikes are used during the month
jan_df.starthour.value_counts()

17    71400
18    67558
08    64041
16    51919
09    49092
15    44969
19    44519
14    42309
13    39309
12    36183
07    36156
10    31659
11    31528
20    29593
21    20314
06    17018
22    15010
23     9163
05     5505
00     5163
01     2753
02     1585
04     1259
03      989
Name: starthour, dtype: int64

In [37]:
# Number of unique start stations
jan_df['start station id'].nunique()

763

In [34]:
# Number of trips from start stations
jan_df['start station id'].value_counts()

519     8080
435     5093
3255    4852
402     4526
497     4503
490     4281
523     4278
477     4256
285     4223
459     4057
359     3773
379     3652
293     3616
284     3561
492     3487
432     3454
3263    3351
229     3306
505     3305
168     3287
382     3181
504     3147
465     3128
446     3117
499     3112
368     3091
358     3068
3641    3062
457     3031
537     2941
        ...
2005      65
3629      63
3340      63
3395      57
3525      52
3394      47
3564      45
3554      44
3661      41
3492      39
3468      39
3590      37
3650      35
3333      30
3649      29
3559      29
3631      27
3330      26
3620      25
3596      24
3557      23
3239      11
3512      11
3432      10
3594       5
3485       2
428        1
3662       1
3488       1
3250       1
Name: start station id, Length: 763, dtype: int64

In [38]:
# Number of unique end stations
jan_df['end station id'].nunique()

768

In [35]:
# Number of arrivals to end stations
jan_df['end station id'].value_counts()

519     8026
435     5132
3255    4956
497     4924
402     4784
459     4441
490     4368
523     4321
285     4296
477     4267
492     3733
379     3721
293     3701
284     3661
3263    3484
359     3473
229     3417
168     3390
382     3342
505     3303
368     3244
504     3200
358     3160
465     3132
446     3127
499     3088
3443    3079
3641    3060
457     2957
482     2940
        ...
3468      56
3554      52
3492      50
3661      49
3394      47
3333      39
3330      39
3564      35
3620      35
3650      35
3649      35
3590      34
3512      33
3631      28
3596      28
3557      27
3559      24
3432      22
3245      12
3239      11
3594       9
428        4
3485       2
3184       2
3652       1
3662       1
3488       1
3240       1
3428       1
3250       1
Name: end station id, Length: 768, dtype: int64

In [31]:
# Gender breakdown of active participants - Gender (Zero=unknown; 1=male; 2=female) 
jan_df.sgender.value_counts()

Male       537589
Female     151806
Unknown     29599
Name: sgender, dtype: int64

In [78]:
# Average trip duration by age - Get the max and the min
# Min and Max Age = 2018 - birth year
print(f'Max age: {jan_df.age.max()}')
print(f'Min age: {jan_df.age.min()}')
print(f'Uniques: {jan_df.age.nunique()}')

Max age: 133
Min age: 16
Uniques: 88

In [77]:
# Average trip duration by age - Differents values for age
# Age = 2018 - birth year 
jan_df.age.value_counts()

49     39851
29     26774
28     26741
33     26133
30     25817
31     25462
32     24962
27     24616
34     23916
26     22930
35     22169
36     22133
37     20133
25     18780
39     18637
38     18467
40     16652
48     16389
41     15605
42     15265
47     14736
43     14432
45     13990
46     13960
44     13851
50     13139
51     12750
24     12270
54     12115
52     11800
       ...
75       441
77       393
74       345
118      282
78       211
81       181
79        98
80        78
82        54
131       53
84        50
95        48
133       33
119       30
106       29
85        24
117       17
108       16
97        14
89        12
124       11
86         9
101        9
132        5
16         4
83         4
100        3
99         2
87         2
102        1
Name: age, Length: 88, dtype: int64

In [11]:
# Number of trips by age
jan_df.groupby('age')['tripdurmin'].count()

age
16         4
17       613
18      1180
19      2164
20      3101
21      4114
22      4931
23      8328
24     12270
25     18780
26     22930
27     24616
28     26741
29     26774
30     25817
31     25462
32     24962
33     26133
34     23916
35     22169
36     22133
37     20133
38     18467
39     18637
40     16652
41     15605
42     15265
43     14432
44     13851
45     13990
       ...
74       345
75       441
76       505
77       393
78       211
79        98
80        78
81       181
82        54
83         4
84        50
85        24
86         9
87         2
89        12
95        48
97        14
99         2
100        3
101        9
102        1
106       29
108       16
117       17
118      282
119       30
124       11
131       53
132        5
133       33
Name: tripdurmin, Length: 88, dtype: int64

In [127]:
# Average trip duration by age
jan_df.groupby('age')['tripdurmin'].mean()

age
16      7.166667
17     12.047716
18     10.949237
19     10.200493
20     11.011201
21     10.127390
22     10.306574
23     11.789371
24     11.285030
25     11.468579
26     11.113303
27     11.242637
28     12.849242
29     11.826700
30     11.431055
31     11.393095
32     10.891832
33     11.840094
34     10.380009
35     15.467853
36     10.873013
37     11.237665
38     11.356871
39     11.847639
40     11.169677
41     16.112838
42     11.444746
43     14.663241
44     11.253198
45     12.973532
         ...
74     12.458937
75     15.063719
76     15.469769
77     13.218914
78     10.034597
79     13.435714
80     10.173077
81      8.743002
82      8.356173
83      7.279167
84     13.657667
85      7.191667
86     11.881481
87      4.600000
89      7.575000
95     78.111111
97      3.728571
99     36.133333
100     9.200000
101     7.877778
102    12.933333
106    11.726437
108     3.405208
117    21.448039
118     6.358570
119    23.570000
124    12.548485
131    13.068868
132    21.083333
133    11.116162
Name: tripdurmin, Length: 88, dtype: float64

In [79]:
# Average distance in miles that a bike is ridden - Uniques
print(f'Uniques: {jan_df.bikeid.nunique()}')

Uniques: 10449

In [69]:
# Average distance in miles that a bike is ridden
jan_df.groupby(['bikeid']).agg({'distance': 'mean'}).sort_values(['distance'],ascending=False).head(10)

        distance
bikeid
25062   3.228474
18815   3.041296
32850   3.036479
29858   2.256642
27005   2.146544
19159   2.135479
19561   2.127900
16099   2.064585
27718   2.064042
33229   2.055470

In [106]:
# Which bikes (by ID) are most likely due for repair or inspection in the timespan?
jan_df.groupby(['bikeid']).agg({'distance': 'sum'}).sort_values(['distance'],ascending=False).head(10)

          distance
bikeid
31453   224.228734
31962   215.509393
33133   215.506330
30167   214.199713
32090   213.669306
29984   213.648404
33057   212.727130
30245   209.930314
30203   208.377209
31623   208.341975

In [74]:
# Variability by bike ID
jan_df.groupby(['bikeid']).agg({'distance': 'std'}).sort_values(['distance'],ascending=False).head(10)

        distance
bikeid
18815   2.571948
27718   2.429265
21715   2.206381
19003   1.989564
25633   1.968165
30075   1.902171
21607   1.876201
15413   1.851931
21519   1.827602
26705   1.804082

### __Make final data frames__

In [180]:
# Usertype + Gender
user_df = jan_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in jan_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Jan')
user_df

   year month    usertype   gender   trips
0  2018   Jan    Customer   Female    2061
1  2018   Jan    Customer     Male    2906
2  2018   Jan    Customer  Unknown   17141
3  2018   Jan  Subscriber   Female  149745
4  2018   Jan  Subscriber     Male  534683
5  2018   Jan  Subscriber  Unknown   12458

In [181]:
# Trips by hour, season and weekday
season_df = jan_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in jan_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Jan')
season_df

     year month starthour  season    weekday  trips
0    2018   Jan        00  Winter     Friday    614
1    2018   Jan        00  Winter     Monday    634
2    2018   Jan        00  Winter   Saturday    926
3    2018   Jan        00  Winter     Sunday   1153
4    2018   Jan        00  Winter   Thursday    581
5    2018   Jan        00  Winter    Tuesday    556
6    2018   Jan        00  Winter  Wednesday    699
7    2018   Jan        01  Winter     Friday    315
8    2018   Jan        01  Winter     Monday    408
9    2018   Jan        01  Winter   Saturday    603
10   2018   Jan        01  Winter     Sunday    645
11   2018   Jan        01  Winter   Thursday    265
12   2018   Jan        01  Winter    Tuesday    225
13   2018   Jan        01  Winter  Wednesday    292
14   2018   Jan        02  Winter     Friday    164
15   2018   Jan        02  Winter     Monday    225
16   2018   Jan        02  Winter   Saturday    410
17   2018   Jan        02  Winter     Sunday    389
18   2018   Jan        02  Winter   Thursday    118
19   2018   Jan        02  Winter    Tuesday    123
20   2018   Jan        02  Winter  Wednesday    156
21   2018   Jan        03  Winter     Friday     94
22   2018   Jan        03  Winter     Monday    156
23   2018   Jan        03  Winter   Saturday    205
24   2018   Jan        03  Winter     Sunday    245
25   2018   Jan        03  Winter   Thursday     90
26   2018   Jan        03  Winter    Tuesday     94
27   2018   Jan        03  Winter  Wednesday    105
28   2018   Jan        04  Winter     Friday    161
29   2018   Jan        04  Winter     Monday    212
..    ...   ...       ...     ...        ...    ...
138  2018   Jan        19  Winter    Tuesday   9346
139  2018   Jan        19  Winter  Wednesday   9365
140  2018   Jan        20  Winter     Friday   3316
141  2018   Jan        20  Winter     Monday   4926
142  2018   Jan        20  Winter   Saturday   2879
143  2018   Jan        20  Winter     Sunday   2621
144  2018   Jan        20  Winter   Thursday   4018
145  2018   Jan        20  Winter    Tuesday   5933
146  2018   Jan        20  Winter  Wednesday   5900
147  2018   Jan        21  Winter     Friday   2084
148  2018   Jan        21  Winter     Monday   3128
149  2018   Jan        21  Winter   Saturday   2210
150  2018   Jan        21  Winter     Sunday   2116
151  2018   Jan        21  Winter   Thursday   2703
152  2018   Jan        21  Winter    Tuesday   3946
153  2018   Jan        21  Winter  Wednesday   4127
154  2018   Jan        22  Winter     Friday   1643
155  2018   Jan        22  Winter     Monday   2248
156  2018   Jan        22  Winter   Saturday   1953
157  2018   Jan        22  Winter     Sunday   1525
158  2018   Jan        22  Winter   Thursday   2069
159  2018   Jan        22  Winter    Tuesday   2747
160  2018   Jan        22  Winter  Wednesday   2825
161  2018   Jan        23  Winter     Friday   1265
162  2018   Jan        23  Winter     Monday   1173
163  2018   Jan        23  Winter   Saturday   1533
164  2018   Jan        23  Winter     Sunday    962
165  2018   Jan        23  Winter   Thursday   1240
166  2018   Jan        23  Winter    Tuesday   1409
167  2018   Jan        23  Winter  Wednesday   1581

[168 rows x 6 columns]

In [5]:
# Start Stations
stat_df = jan_df.groupby(['start station id',]).agg({i:'count' for i in jan_df.columns[14:15]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Jan')
stat_df

     year month  stationid  gender
0    2018   Jan         72    1324
1    2018   Jan         79    1106
2    2018   Jan         82     436
3    2018   Jan         83     685
4    2018   Jan        119     239
5    2018   Jan        120     393
6    2018   Jan        127    2376
7    2018   Jan        128    2208
8    2018   Jan        143    1041
9    2018   Jan        144     205
10   2018   Jan        146     980
11   2018   Jan        150    1139
12   2018   Jan        151    2793
13   2018   Jan        152     840
14   2018   Jan        157     776
15   2018   Jan        161    2228
16   2018   Jan        164    1257
17   2018   Jan        167    1811
18   2018   Jan        168    3287
19   2018   Jan        173    2744
20   2018   Jan        174    1994
21   2018   Jan        195    1517
22   2018   Jan        212    1893
23   2018   Jan        216     228
24   2018   Jan        217     679
25   2018   Jan        223    1183
26   2018   Jan        228    1043
27   2018   Jan        229    3306
28   2018   Jan        232     397
29   2018   Jan        236    2165
..    ...   ...        ...     ...
733  2018   Jan       3619     256
734  2018   Jan       3620      25
735  2018   Jan       3621      67
736  2018   Jan       3622     173
737  2018   Jan       3623     256
738  2018   Jan       3625      90
739  2018   Jan       3629      63
740  2018   Jan       3631      27
741  2018   Jan       3632    1942
742  2018   Jan       3635    1522
743  2018   Jan       3637     570
744  2018   Jan       3641    3062
745  2018   Jan       3642     133
746  2018   Jan       3643    1190
747  2018   Jan       3644     163
748  2018   Jan       3646     100
749  2018   Jan       3647      92
750  2018   Jan       3648     361
751  2018   Jan       3649      29
752  2018   Jan       3650      35
753  2018   Jan       3653     128
754  2018   Jan       3654     108
755  2018   Jan       3656     818
756  2018   Jan       3658    1017
757  2018   Jan       3659     849
758  2018   Jan       3660    1092
759  2018   Jan       3661      41
760  2018   Jan       3662       1
761  2018   Jan       3663     206
762  2018   Jan       3664     214

[763 rows x 4 columns]

In [6]:
# End Stations
statend_df = jan_df.groupby(['end station id',]).agg({i:'count' for i in jan_df.columns[14:15]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)
statend_df

     stationid  gender
0           72    1322
1           79    1155
2           82     464
3           83     680
4          119     269
5          120     339
6          127    2400
7          128    2281
8          143    1034
9          144     236
10         146     966
11         150    1120
12         151    2813
13         152     842
14         157     741
15         161    2293
16         164    1250
17         167    1810
18         168    3390
19         173    2752
20         174    2008
21         195    1512
22         212    1901
23         216     161
24         217     918
25         223    1208
26         228    1045
27         229    3417
28         232     337
29         236    2234
..         ...     ...
738       3620      35
739       3621      73
740       3622     180
741       3623     183
742       3625      84
743       3629     111
744       3631      28
745       3632    2047
746       3635    1535
747       3637     568
748       3641    3060
749       3642     139
750       3643    1133
751       3644     197
752       3646     100
753       3647      93
754       3648     502
755       3649      35
756       3650      35
757       3652       1
758       3653     122
759       3654     109
760       3656     862
761       3658    1037
762       3659     876
763       3660    1092
764       3661      49
765       3662       1
766       3663     207
767       3664     214

[768 rows x 2 columns]

In [7]:
# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))
stat_df

       year month  stationid  gender_left  gender_right
0    2018.0   Jan         72       1324.0          1322
1    2018.0   Jan         79       1106.0          1155
2    2018.0   Jan         82        436.0           464
3    2018.0   Jan         83        685.0           680
4    2018.0   Jan        119        239.0           269
5    2018.0   Jan        120        393.0           339
6    2018.0   Jan        127       2376.0          2400
7    2018.0   Jan        128       2208.0          2281
8    2018.0   Jan        143       1041.0          1034
9    2018.0   Jan        144        205.0           236
10   2018.0   Jan        146        980.0           966
11   2018.0   Jan        150       1139.0          1120
12   2018.0   Jan        151       2793.0          2813
13   2018.0   Jan        152        840.0           842
14   2018.0   Jan        157        776.0           741
15   2018.0   Jan        161       2228.0          2293
16   2018.0   Jan        164       1257.0          1250
17   2018.0   Jan        167       1811.0          1810
18   2018.0   Jan        168       3287.0          3390
19   2018.0   Jan        173       2744.0          2752
20   2018.0   Jan        174       1994.0          2008
21   2018.0   Jan        195       1517.0          1512
22   2018.0   Jan        212       1893.0          1901
23   2018.0   Jan        216        228.0           161
24   2018.0   Jan        217        679.0           918
25   2018.0   Jan        223       1183.0          1208
26   2018.0   Jan        228       1043.0          1045
27   2018.0   Jan        229       3306.0          3417
28   2018.0   Jan        232        397.0           337
29   2018.0   Jan        236       2165.0          2234
..      ...   ...        ...          ...           ...
738  2018.0   Jan       3625         90.0            84
739  2018.0   Jan       3629         63.0           111
740  2018.0   Jan       3631         27.0            28
741  2018.0   Jan       3632       1942.0          2047
742  2018.0   Jan       3635       1522.0          1535
743  2018.0   Jan       3637        570.0           568
744  2018.0   Jan       3641       3062.0          3060
745  2018.0   Jan       3642        133.0           139
746  2018.0   Jan       3643       1190.0          1133
747  2018.0   Jan       3644        163.0           197
748  2018.0   Jan       3646        100.0           100
749  2018.0   Jan       3647         92.0            93
750  2018.0   Jan       3648        361.0           502
751  2018.0   Jan       3649         29.0            35
752  2018.0   Jan       3650         35.0            35
753  2018.0   Jan       3653        128.0           122
754  2018.0   Jan       3654        108.0           109
755  2018.0   Jan       3656        818.0           862
756  2018.0   Jan       3658       1017.0          1037
757  2018.0   Jan       3659        849.0           876
758  2018.0   Jan       3660       1092.0          1092
759  2018.0   Jan       3661         41.0            49
760  2018.0   Jan       3662          1.0             1
761  2018.0   Jan       3663        206.0           207
762  2018.0   Jan       3664        214.0           214
763     NaN   NaN       3184          NaN             2
764     NaN   NaN       3240          NaN             1
765     NaN   NaN       3245          NaN            12
766     NaN   NaN       3428          NaN             1
767     NaN   NaN       3652          NaN             1

[768 rows x 5 columns]

In [12]:
# Age - Trip duration
#agedur_df = jan_df.groupby(['age','usertype'])['tripdurmin'].mean().to_frame(name='avgtripdur')
agedur_df = jan_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Jan')
agedur_df

     year month  age    usertype  count         mean
0    2018   Jan   16  Subscriber      4     7.166667
1    2018   Jan   17    Customer     22    24.976515
2    2018   Jan   17  Subscriber    591    11.566441
3    2018   Jan   18    Customer     59    25.710452
4    2018   Jan   18  Subscriber   1121    10.172331
5    2018   Jan   19    Customer    111    27.331832
6    2018   Jan   19  Subscriber   2053     9.274249
7    2018   Jan   20    Customer     95    19.227193
8    2018   Jan   20  Subscriber   3006    10.751547
9    2018   Jan   21    Customer     96    22.894271
10   2018   Jan   21  Subscriber   4018     9.822358
11   2018   Jan   22    Customer     96    21.336458
12   2018   Jan   22  Subscriber   4835    10.087573
13   2018   Jan   23    Customer    260    24.812821
14   2018   Jan   23  Subscriber   8068    11.369676
15   2018   Jan   24    Customer    165    34.882525
16   2018   Jan   24  Subscriber  12105    10.963379
17   2018   Jan   25    Customer    208    23.091587
18   2018   Jan   25  Subscriber  18572    11.338405
19   2018   Jan   26    Customer    256    22.734570
20   2018   Jan   26  Subscriber  22674    10.982093
21   2018   Jan   27    Customer    199    30.530067
22   2018   Jan   27  Subscriber  24417    11.085443
23   2018   Jan   28    Customer    231    76.420418
24   2018   Jan   28  Subscriber  26510    12.295302
25   2018   Jan   29    Customer    211    79.225671
26   2018   Jan   29  Subscriber  26563    11.291324
27   2018   Jan   30    Customer    280    37.514583
28   2018   Jan   30  Subscriber  25537    11.145063
29   2018   Jan   31    Customer    328    30.250915
..    ...   ...  ...         ...    ...          ...
112  2018   Jan   76    Customer      1  2178.150000
113  2018   Jan   76  Subscriber    504    11.178737
114  2018   Jan   77  Subscriber    393    13.218914
115  2018   Jan   78  Subscriber    211    10.034597
116  2018   Jan   79  Subscriber     98    13.435714
117  2018   Jan   80  Subscriber     78    10.173077
118  2018   Jan   81  Subscriber    181     8.743002
119  2018   Jan   82  Subscriber     54     8.356173
120  2018   Jan   83  Subscriber      4     7.279167
121  2018   Jan   84  Subscriber     50    13.657667
122  2018   Jan   85  Subscriber     24     7.191667
123  2018   Jan   86  Subscriber      9    11.881481
124  2018   Jan   87  Subscriber      2     4.600000
125  2018   Jan   89  Subscriber     12     7.575000
126  2018   Jan   95    Customer      2  1555.966667
127  2018   Jan   95  Subscriber     46    13.856522
128  2018   Jan   97  Subscriber     14     3.728571
129  2018   Jan   99  Subscriber      2    36.133333
130  2018   Jan  100  Subscriber      3     9.200000
131  2018   Jan  101  Subscriber      9     7.877778
132  2018   Jan  102  Subscriber      1    12.933333
133  2018   Jan  106  Subscriber     29    11.726437
134  2018   Jan  108  Subscriber     16     3.405208
135  2018   Jan  117  Subscriber     17    21.448039
136  2018   Jan  118  Subscriber    282     6.358570
137  2018   Jan  119  Subscriber     30    23.570000
138  2018   Jan  124  Subscriber     11    12.548485
139  2018   Jan  131  Subscriber     53    13.068868
140  2018   Jan  132  Subscriber      5    21.083333
141  2018   Jan  133  Subscriber     33    11.116162

[142 rows x 6 columns]

In [186]:
# Bikes considering distance from start station to end station
bike_df = jan_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Jan')
bike_df

       year month  bikeid  trips    totmiles  avgmiles  stdmiles
0      2018   Jan   14529     69   60.887367  0.882426  0.831832
1      2018   Jan   14530     56   54.760654  0.977869  0.749576
2      2018   Jan   14532      7    4.963338  0.709048  0.235022
3      2018   Jan   14533     17   11.717877  0.689287  0.583706
4      2018   Jan   14534     83   80.509785  0.969997  0.727214
5      2018   Jan   14535      2    1.532518  0.766259  0.330207
6      2018   Jan   14536     55   42.699128  0.776348  0.675804
7      2018   Jan   14537     80   89.386814  1.117335  0.936547
8      2018   Jan   14539     82   75.162186  0.916612  0.657427
9      2018   Jan   14540     42   43.142563  1.027204  0.691892
10     2018   Jan   14544     12   12.221468  1.018456  0.781843
11     2018   Jan   14545     51   49.475852  0.970115  0.586231
12     2018   Jan   14547     72   61.747024  0.857598  0.615852
13     2018   Jan   14548      4    4.934597  1.233649  0.704366
14     2018   Jan   14549     54   61.438174  1.137744  0.856823
15     2018   Jan   14550     62   66.571868  1.073740  0.676769
16     2018   Jan   14551     93   73.570841  0.791084  0.569131
17     2018   Jan   14552      1    0.747933  0.747933       NaN
18     2018   Jan   14553     36   30.581192  0.849478  0.532473
19     2018   Jan   14555     85   78.442887  0.922857  0.618586
20     2018   Jan   14556     64   69.223404  1.081616  0.726902
21     2018   Jan   14558     73   70.644722  0.967736  0.714412
22     2018   Jan   14559     20   14.332791  0.716640  0.467872
23     2018   Jan   14561     86   73.539121  0.855106  0.636089
24     2018   Jan   14562     18   16.139334  0.896630  0.593815
25     2018   Jan   14563     16   11.375840  0.710990  0.492011
26     2018   Jan   14565     53   44.410304  0.837930  0.627237
27     2018   Jan   14566     41   40.942592  0.998600  0.869175
28     2018   Jan   14567     58   58.475152  1.008192  0.671366
29     2018   Jan   14568     44   52.795928  1.199907  1.131388
...     ...   ...     ...    ...         ...       ...       ...
10419  2018   Jan   33444    111  113.453178  1.022101  0.886734
10420  2018   Jan   33445    125  116.109138  0.928873  0.659168
10421  2018   Jan   33446    106  108.973189  1.028049  0.792571
10422  2018   Jan   33447    206  205.130942  0.995781  0.740913
10423  2018   Jan   33448     93   82.751056  0.889796  0.629721
10424  2018   Jan   33449    136  152.478729  1.121167  0.871562
10425  2018   Jan   33450     16   11.448177  0.715511  0.412767
10426  2018   Jan   33451    107  115.314156  1.077702  0.824824
10427  2018   Jan   33452    126  142.806553  1.133385  0.817204
10428  2018   Jan   33453     53   35.116831  0.662582  0.604873
10429  2018   Jan   33454    147  152.231822  1.035591  0.737103
10430  2018   Jan   33455    146  132.545041  0.907843  0.697143
10431  2018   Jan   33456    136  159.518327  1.172929  0.945743
10432  2018   Jan   33457     76   83.168231  1.094319  0.922240
10433  2018   Jan   33458    125  132.011411  1.056091  0.787868
10434  2018   Jan   33459    180  182.864991  1.015917  0.779039
10435  2018   Jan   33460     96   96.611557  1.006370  0.738776
10436  2018   Jan   33462     98  110.731008  1.129908  1.009422
10437  2018   Jan   33464    138  141.012140  1.021827  0.892045
10438  2018   Jan   33465    182  197.474717  1.085026  0.971636
10439  2018   Jan   33466    108  114.412543  1.059375  0.878773
10440  2018   Jan   33467     63   54.485411  0.864848  0.782723
10441  2018   Jan   33468    121  145.345219  1.201200  0.871470
10442  2018   Jan   33469     78   69.737589  0.894072  0.722176
10443  2018   Jan   33473    135  125.592347  0.930314  0.752741
10444  2018   Jan   33481     56   53.813458  0.960955  0.564015
10445  2018   Jan   33518      1    0.794190  0.794190       NaN
10446  2018   Jan   33519     87   90.377373  1.038820  0.708455
10447  2018   Jan   33521     60   63.213899  1.053565  1.127026
10448  2018   Jan   33522     24   23.850771  0.993782  0.817007

[10449 rows x 7 columns]

In [187]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = jan_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Jan')
bikemil_df

       year month  bikeid  trips  totmileage  avgmileage  stdmileage
0      2018   Jan   14529     69  140.835160    2.041089    5.892852
1      2018   Jan   14530     56   77.356000    1.381357    1.033084
2      2018   Jan   14532      7    6.683476    0.954782    0.471089
3      2018   Jan   14533     17   14.574409    0.857318    0.739630
4      2018   Jan   14534     83  121.787547    1.467320    1.133812
5      2018   Jan   14535      2    2.980329    1.490164    0.678062
6      2018   Jan   14536     55   65.476107    1.190475    1.240433
7      2018   Jan   14537     80  513.586006    6.419825   44.684734
8      2018   Jan   14539     82  113.935964    1.389463    1.241047
9      2018   Jan   14540     42   54.961076    1.308597    0.950058
10     2018   Jan   14544     12   15.421493    1.285124    0.715345
11     2018   Jan   14545     51   80.522729    1.578877    1.740172
12     2018   Jan   14547     72   95.430587    1.325425    1.030393
13     2018   Jan   14548      4    6.673120    1.668280    0.833703
14     2018   Jan   14549     54   79.112302    1.465043    0.973884
15     2018   Jan   14550     62  137.818693    2.222882    5.651507
16     2018   Jan   14551     93  113.459609    1.219996    0.950907
17     2018   Jan   14552      1    1.306871    1.306871         NaN
18     2018   Jan   14553     36   48.229964    1.339721    1.805155
19     2018   Jan   14555     85  109.866231    1.292544    0.870754
20     2018   Jan   14556     64  147.872570    2.310509    6.437944
21     2018   Jan   14558     73   90.894853    1.245135    0.897223
22     2018   Jan   14559     20   20.414942    1.020747    0.568209
23     2018   Jan   14561     86  118.821716    1.381648    1.181538
24     2018   Jan   14562     18   24.113947    1.339664    1.232353
25     2018   Jan   14563     16   21.947564    1.371723    1.080792
26     2018   Jan   14565     53  182.236420    3.438423   15.860309
27     2018   Jan   14566     41  297.089942    7.246096   38.075873
28     2018   Jan   14567     58   86.856187    1.497520    1.038673
29     2018   Jan   14568     44   74.013227    1.682119    1.414944
...     ...   ...     ...    ...         ...         ...         ...
10419  2018   Jan   33444    111  142.981227    1.288119    1.245934
10420  2018   Jan   33445    125  153.009547    1.224076    0.862565
10421  2018   Jan   33446    106  162.723058    1.535123    1.296879
10422  2018   Jan   33447    206  276.696302    1.343186    1.011007
10423  2018   Jan   33448     93  108.942516    1.171425    0.836464
10424  2018   Jan   33449    136  207.800791    1.527947    1.177096
10425  2018   Jan   33450     16   14.646898    0.915431    0.533566
10426  2018   Jan   33451    107  174.654729    1.632287    1.194174
10427  2018   Jan   33452    126  188.342702    1.494783    1.059092
10428  2018   Jan   33453     53   54.878231    1.035438    1.154950
10429  2018   Jan   33454    147  206.574693    1.405270    1.193547
10430  2018   Jan   33455    146  184.726542    1.265250    0.903702
10431  2018   Jan   33456    136  203.176000    1.493941    1.096056
10432  2018   Jan   33457     76  107.142720    1.409773    1.074957
10433  2018   Jan   33458    125  173.289867    1.386319    1.175229
10434  2018   Jan   33459    180  243.113236    1.350629    0.973861
10435  2018   Jan   33460     96  129.576996    1.349760    0.929719
10436  2018   Jan   33462     98  144.988133    1.479471    1.053306
10437  2018   Jan   33464    138  181.891191    1.318052    0.992928
10438  2018   Jan   33465    182  285.798836    1.570323    1.273726
10439  2018   Jan   33466    108  159.011627    1.472330    1.125280
10440  2018   Jan   33467     63   76.260382    1.210482    1.098705
10441  2018   Jan   33468    121  198.866018    1.643521    1.201960
10442  2018   Jan   33469     78   94.923164    1.216964    0.789347
10443  2018   Jan   33473    135  155.206996    1.149681    0.820550
10444  2018   Jan   33481     56   71.066036    1.269036    0.902320
10445  2018   Jan   33518      1    0.865724    0.865724         NaN
10446  2018   Jan   33519     87  123.425796    1.418687    1.029870
10447  2018   Jan   33521     60   76.983200    1.283053    1.067049
10448  2018   Jan   33522     24   37.298640    1.554110    1.402788

[10449 rows x 7 columns]

### __Export final data frames to csv files for Tableau__

In [188]:
user_df.to_csv("./2018/user2018.csv", encoding="utf-8", index=False, header=True) 

season_df.to_csv("./2018/season2018.csv", encoding="utf-8", index=False, header=True)

stat_df.to_csv("./2018/station2018.csv", encoding="utf-8", index=False, header=True)

agedur_df.to_csv("./2018/agedur2018.csv", encoding="utf-8", index=False, header=True)

bike_df.to_csv("./2018/bike2018.csv", encoding="utf-8", index=False, header=True)

bikemil_df.to_csv("./2018/mileage2018.csv", encoding="utf-8", index=False, header=True)

### Make the same transformations from February to December

`February`

In [14]:
# Read file and print the number of records and data types
csv_name = "./2018/201802.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Feb')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Winter')
month_df.insert(24, 'mileage', 0)
print("Records Feb2018 : " + str(month_df.count()))

Records Feb2018 : year                       843114
month                      843114
tripduration               843114
tripdurmin                 843114
starttime                  843114
starthour                  843114
weekday                    843114
stoptime                   843114
start station id           843114
start station name         843114
start station latitude     843114
start station longitude    843114
end station id             843114
end station name           843114
end station latitude       843114
end station longitude      843114
distance                   843114
bikeid                     843114
usertype                   843114
birth year                 843114
gender                     843114
age                        843114
sgender                    843114
season                     843114
mileage                    843114
dtype: int64

In [15]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [191]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [16]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [193]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Feb')

In [194]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Feb')

In [10]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[14:15]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Feb')

In [11]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[14:15]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [17]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Feb')

In [198]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Feb')

In [199]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Feb')

       year month  bikeid  trips   totmileage  avgmileage  stdmileage
0      2018   Feb   14529     72    97.845502    1.358965    0.949129
1      2018   Feb   14530     53    73.570009    1.388113    0.871532
2      2018   Feb   14532     29    41.063920    1.415997    1.043441
3      2018   Feb   14533     54    62.673893    1.160628    0.875837
4      2018   Feb   14534     21   375.185523   17.865977   75.574381
5      2018   Feb   14535     49    66.004240    1.347025    1.074608
6      2018   Feb   14536     75   159.879216    2.131723    7.063206
7      2018   Feb   14537     33    48.764311    1.477706    1.042015
8      2018   Feb   14539     71   104.702951    1.474689    1.181816
9      2018   Feb   14540     52   383.635254    7.377601   43.112113
10     2018   Feb   14541     77   125.434773    1.629023    1.302343
11     2018   Feb   14544     67    90.240382    1.346871    0.926178
12     2018   Feb   14545    106   613.803987    5.790604   38.195910
13     2018   Feb   14547    117   156.339893    1.336238    0.920390
14     2018   Feb   14549     23    32.847822    1.428166    1.713113
15     2018   Feb   14550     93   111.591467    1.199908    0.948660
16     2018   Feb   14551    101   121.087511    1.198886    1.051423
17     2018   Feb   14552    101   140.458770    1.390681    3.075847
18     2018   Feb   14553     52    75.083991    1.443923    1.313589
19     2018   Feb   14555     76   103.362942    1.360039    0.990840
20     2018   Feb   14556     72   165.337548    2.296355    8.278081
21     2018   Feb   14558     96   163.451707    1.702622    3.465279
22     2018   Feb   14561    100   288.697863    2.886979   10.953992
23     2018   Feb   14562      6     6.608916    1.101486    0.833957
24     2018   Feb   14563     26    32.742196    1.259315    0.981993
25     2018   Feb   14565     53    60.136782    1.134656    0.943270
26     2018   Feb   14566     65   122.946892    1.891491    5.724462
27     2018   Feb   14567     99   145.487271    1.469568    1.365654
28     2018   Feb   14568     62    59.534089    0.960227    0.740562
29     2018   Feb   14570     82   189.866472    2.315445    7.410213
...     ...   ...     ...    ...          ...         ...         ...
10504  2018   Feb   33453     91   153.982182    1.692112    3.376643
10505  2018   Feb   33454    151   220.117689    1.457733    1.106048
10506  2018   Feb   33455    136   177.889804    1.308013    0.901710
10507  2018   Feb   33456    121   182.914320    1.511689    1.309975
10508  2018   Feb   33457    144   220.244027    1.529472    1.174351
10509  2018   Feb   33458     89   154.961436    1.741140    4.466075
10510  2018   Feb   33459    127   196.047236    1.543679    0.988051
10511  2018   Feb   33460    190   265.510231    1.397422    0.977574
10512  2018   Feb   33461     70   105.839991    1.512000    1.196159
10513  2018   Feb   33462    142   186.443493    1.312982    1.062873
10514  2018   Feb   33464    116   184.442800    1.590024    1.078202
10515  2018   Feb   33465    182   272.431884    1.496878    1.039609
10516  2018   Feb   33466     85   110.127191    1.295614    0.920928
10517  2018   Feb   33467    100   159.305724    1.593057    1.279792
10518  2018   Feb   33468    116   163.872524    1.412694    1.034397
10519  2018   Feb   33473    194   355.312121    1.831506    5.505449
10520  2018   Feb   33481    154   218.742471    1.420406    1.149174
10521  2018   Feb   33519     55  6807.857910  123.779235  906.616675
10522  2018   Feb   33521    158   228.723156    1.447615    1.050618
10523  2018   Feb   33522    166   277.209938    1.669939    1.228791
10524  2018   Feb   33525    203   292.082587    1.438830    1.134311
10525  2018   Feb   33528    115   168.385476    1.464222    1.046758
10526  2018   Feb   33529    119   180.134889    1.513739    1.233439
10527  2018   Feb   33530    124   166.043049    1.339057    0.945881
10528  2018   Feb   33531     73   109.710898    1.502889    1.224363
10529  2018   Feb   33532     86   123.798596    1.439519    1.075609
10530  2018   Feb   33533     79   123.282889    1.560543    1.139331
10531  2018   Feb   33539     50    94.372249    1.887445    1.254692
10532  2018   Feb   33540     27    38.628293    1.430678    1.103613
10533  2018   Feb   33541     10    24.499173    2.449917    1.567011

[10534 rows x 7 columns]

In [200]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`March`

In [19]:
# Read file and print the number of records and data types
csv_name = "./2018/201803.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Mar')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Spring')
month_df.insert(24, 'mileage', 0)
print("Records Mar2018 : " + str(month_df.count()))

Records Mar2018 : year                       976672
month                      976672
tripduration               976672
tripdurmin                 976672
starttime                  976672
starthour                  976672
weekday                    976672
stoptime                   976672
start station id           976672
start station name         976672
start station latitude     976672
start station longitude    976672
end station id             976672
end station name           976672
end station latitude       976672
end station longitude      976672
distance                   976672
bikeid                     976672
usertype                   976672
birth year                 976672
gender                     976672
age                        976672
sgender                    976672
season                     976672
mileage                    976672
dtype: int64

In [20]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [203]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [21]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [205]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Mar')

In [206]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Mar')

In [14]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Mar')

In [15]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [22]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Mar')

In [210]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Mar')

In [211]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Mar')

In [212]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)
    
with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`April`

In [24]:
# Read file and print the number of records and data types
csv_name = "./2018/201804.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Apr')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Spring')
month_df.insert(24, 'mileage', 0)
print("Records Apr2018 : " + str(month_df.count()))

Records Apr2018 : year                       1307543
month                      1307543
tripduration               1307543
tripdurmin                 1307543
starttime                  1307543
starthour                  1307543
weekday                    1307543
stoptime                   1307543
start station id           1307543
start station name         1307543
start station latitude     1307543
start station longitude    1307543
end station id             1307543
end station name           1307543
end station latitude       1307543
end station longitude      1307543
distance                   1307543
bikeid                     1307543
usertype                   1307543
birth year                 1307543
gender                     1307543
age                        1307543
sgender                    1307543
season                     1307543
mileage                    1307543
dtype: int64

In [25]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [215]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [26]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [217]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Apr')

In [218]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Apr')

In [18]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Apr')

In [19]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [27]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Apr')

In [222]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Apr')

In [223]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Apr')

In [224]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`May`

In [58]:
# Read file and print the number of records and data types
csv_name = "./2018/201805.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'May')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Spring')
month_df.insert(24, 'mileage', 0)
print("Records May2018 : " + str(month_df.count()))

Records May2018 : year                       1824710
month                      1824710
tripduration               1824710
tripdurmin                 1824710
starttime                  1824710
starthour                  1824710
weekday                    1824710
stoptime                   1824710
start station id           1824710
start station name         1824710
start station latitude     1824710
start station longitude    1824710
end station id             1824710
end station name           1824710
end station latitude       1824710
end station longitude      1824710
distance                   1824710
bikeid                     1824710
usertype                   1824710
birth year                 1824710
gender                     1824710
age                        1824710
sgender                    1824710
season                     1824710
mileage                    1824710
dtype: int64

In [68]:
# Example of a station that is not in the catalog and has a trip duration 
# in seconds like the trip has lasted almost a month
month_df.loc[(month_df['end station id'] == 3426), :'distance']

,year,month,tripduration,tripdurmin,starttime,starthour,weekday,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,distance
1544616,2018,May,2587767,0,2018-05-28 11:15:06.0410,0,0,2018-06-27 10:04:33.4550,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,-73.955613,3426,JCBS Depot,40.709651,-74.068601,0

In [30]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [227]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [31]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [229]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'May')

In [230]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'May')

In [22]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'May')

In [23]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [32]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'May')

In [234]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'May')

In [235]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'May')

In [236]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`June`

In [69]:
# Read file and print the number of records and data types
csv_name = "./2018/201806.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Jun')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Summer')
month_df.insert(24, 'mileage', 0)
print("Records Jun2018 : " + str(month_df.count()))

Records Jun2018 : year                       1953103
month                      1953103
tripduration               1953103
tripdurmin                 1953103
starttime                  1953103
starthour                  1953103
weekday                    1953103
stoptime                   1953103
start station id           1953103
start station name         1953103
start station latitude     1953103
start station longitude    1953103
end station id             1953103
end station name           1953103
end station latitude       1953103
end station longitude      1953103
distance                   1953103
bikeid                     1953103
usertype                   1953103
birth year                 1953103
gender                     1953103
age                        1953103
sgender                    1953103
season                     1953103
mileage                    1953103
dtype: int64

In [34]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [239]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [35]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [241]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Jun')

In [242]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Jun')

In [26]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Jun')

In [27]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [36]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Jun')

In [246]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Jun')

In [247]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Jun')

In [248]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`July`

In [37]:
# Read file and print the number of records and data types
csv_name = "./2018/201807.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Jul')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Summer')
month_df.insert(24, 'mileage', 0)
print("Records Jul2018 : " + str(month_df.count()))

Records Jul2018 : year                       1913625
month                      1913625
tripduration               1913625
tripdurmin                 1913625
starttime                  1913625
starthour                  1913625
weekday                    1913625
stoptime                   1913625
start station id           1913625
start station name         1913625
start station latitude     1913625
start station longitude    1913625
end station id             1913625
end station name           1913625
end station latitude       1913625
end station longitude      1913625
distance                   1913625
bikeid                     1913625
usertype                   1913625
birth year                 1913625
gender                     1913625
age                        1913625
sgender                    1913625
season                     1913625
mileage                    1913625
dtype: int64

In [38]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [251]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [39]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [253]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Jul')

In [254]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Jul')

In [30]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Jul')

In [31]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [40]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Jul')

In [258]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Jul')

In [259]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Jul')

In [260]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`August`

In [48]:
# Read file and print the number of records and data types
csv_name = "./2018/201808.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
print("Records Aug2018 : " + str(month_df.count()))

Records Aug2018 : tripduration               1977177
starttime                  1977177
stoptime                   1977177
start station id           1975789
start station name         1975789
start station latitude     1977177
start station longitude    1977177
end station id             1975789
end station name           1975789
end station latitude       1977177
end station longitude      1977177
bikeid                     1977177
usertype                   1977177
birth year                 1977177
gender                     1977177
dtype: int64

In [49]:
# Find missing values to define what to do with them
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station id                0.070201
start station name              0.070201
end station id                  0.070201
end station name                0.070201
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station latitude          0.000000
start station longitude         0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [50]:
# Replace missing values for stations ids
month_df['start station id'] = month_df['start station id'].transform(lambda x: x.fillna(8000))
month_df['end station id'] = month_df['end station id'].transform(lambda x: x.fillna(9000))

In [51]:
# Verify that there only the name stations are missing values
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station name              0.070201
end station name                0.070201
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station id                0.000000
start station latitude          0.000000
start station longitude         0.000000
end station id                  0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [52]:
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Aug')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Summer')
month_df.insert(24, 'mileage', 0)

In [72]:
# Station not in catalog
month_df.loc[(month_df['end station id'] == 3705), :'distance']

,year,month,tripduration,tripdurmin,starttime,starthour,weekday,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,distance
1331669,2018,Aug,4281,0,2018-08-22 12:42:47.0810,0,0,2018-08-22 13:54:08.3270,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1332119,2018,Aug,1615,0,2018-08-22 12:51:04.2130,0,0,2018-08-22 13:17:59.6220,379.0,W 31 St & 7 Ave,40.749156,-73.991600,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1333837,2018,Aug,237,0,2018-08-22 13:23:43.7200,0,0,2018-08-22 13:27:41.3440,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1335073,2018,Aug,2562,0,2018-08-22 13:46:06.6440,0,0,2018-08-22 14:28:49.2890,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1337508,2018,Aug,2052,0,2018-08-22 14:30:14.8850,0,0,2018-08-22 15:04:27.3610,474.0,5 Ave & E 29 St,40.745168,-73.986831,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1337538,2018,Aug,2002,0,2018-08-22 14:30:47.8540,0,0,2018-08-22 15:04:10.6550,474.0,5 Ave & E 29 St,40.745168,-73.986831,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1340220,2018,Aug,1496,0,2018-08-22 15:18:25.8580,0,0,2018-08-22 15:43:22.5670,267.0,Broadway & W 36 St,40.750977,-73.987654,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1368851,2018,Aug,52407,0,2018-08-22 19:57:40.3070,0,0,2018-08-23 10:31:07.5900,388.0,W 26 St & 10 Ave,40.749718,-74.002950,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1406880,2018,Aug,1705,0,2018-08-23 13:24:45.0730,0,0,2018-08-23 13:53:10.7920,514.0,12 Ave & W 40 St,40.760875,-74.002777,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1406944,2018,Aug,1619,0,2018-08-23 13:26:03.9050,0,0,2018-08-23 13:53:03.8910,514.0,12 Ave & W 40 St,40.760875,-74.002777,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1407903,2018,Aug,1559,0,2018-08-23 13:43:29.5120,0,0,2018-08-23 14:09:28.8630,3680.0,E 43 St & 5 Ave,40.754121,-73.980252,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1408483,2018,Aug,828,0,2018-08-23 13:53:37.0220,0,0,2018-08-23 14:07:25.6010,462.0,W 22 St & 10 Ave,40.746920,-74.004519,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1409202,2018,Aug,412,0,2018-08-23 14:06:06.7470,0,0,2018-08-23 14:12:59.2200,127.0,Barrow St & Hudson St,40.731724,-74.006744,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1410631,2018,Aug,3147,0,2018-08-23 14:29:39.9490,0,0,2018-08-23 15:22:07.4150,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1411779,2018,Aug,765,0,2018-08-23 14:49:02.1300,0,0,2018-08-23 15:01:47.6980,442.0,W 27 St & 7 Ave,40.746647,-73.993915,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1414557,2018,Aug,373,0,2018-08-23 15:35:14.2970,0,0,2018-08-23 15:41:27.4450,247.0,Perry St & Bleecker St,40.735354,-74.004831,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1415554,2018,Aug,1238,0,2018-08-23 15:49:59.8420,0,0,2018-08-23 16:10:38.5060,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1415999,2018,Aug,1861,0,2018-08-23 15:56:46.0850,0,0,2018-08-23 16:27:47.6820,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1416384,2018,Aug,1535,0,2018-08-23 16:02:16.0630,0,0,2018-08-23 16:27:51.4720,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1416422,2018,Aug,1495,0,2018-08-23 16:02:54.5250,0,0,2018-08-23 16:27:50.4090,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1416462,2018,Aug,500,0,2018-08-23 16:03:26.4260,0,0,2018-08-23 16:11:47.3000,3695.0,E 5 St & 2 Ave,40.726870,-73.989190,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1419014,2018,Aug,1048,0,2018-08-23 16:35:32.6760,0,0,2018-08-23 16:53:01.0520,486.0,Broadway & W 29 St,40.746201,-73.988557,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1419309,2018,Aug,1352,0,2018-08-23 16:39:12.5230,0,0,2018-08-23 17:01:44.5370,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1419861,2018,Aug,657,0,2018-08-23 16:45:43.1970,0,0,2018-08-23 16:56:40.2080,507.0,E 25 St & 2 Ave,40.739126,-73.979738,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1420133,2018,Aug,2131,0,2018-08-23 16:48:42.1830,0,0,2018-08-23 17:24:13.4480,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1420969,2018,Aug,594,0,2018-08-23 16:58:12.8460,0,0,2018-08-23 17:08:07.1440,3641.0,Broadway & W 25 St,40.742869,-73.989186,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1421911,2018,Aug,511,0,2018-08-23 17:06:37.0870,0,0,2018-08-23 17:15:09.0640,317.0,E 6 St & Avenue B,40.724537,-73.981854,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1421926,2018,Aug,783,0,2018-08-23 17:06:44.5690,0,0,2018-08-23 17:19:48.1900,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1424292,2018,Aug,866,0,2018-08-23 17:25:01.6370,0,0,2018-08-23 17:39:27.8860,474.0,5 Ave & E 29 St,40.745168,-73.986831,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1424799,2018,Aug,554,0,2018-08-23 17:28:58.9910,0,0,2018-08-23 17:38:13.8460,491.0,E 24 St & Park Ave S,40.740964,-73.986022,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966108,2018,Aug,384,0,2018-08-31 18:35:26.3900,0,0,2018-08-31 18:41:50.9600,368.0,Carmine St & 6 Ave,40.730386,-74.002150,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1966230,2018,Aug,982,0,2018-08-31 18:37:30.7130,0,0,2018-08-31 18:53:53.4230,442.0,W 27 St & 7 Ave,40.746647,-73.993915,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1966555,2018,Aug,888,0,2018-08-31 18:42:24.7800,0,0,2018-08-31 18:57:13.6740,485.0,W 37 St & 5 Ave,40.750380,-73.983390,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1967433,2018,Aug,533,0,2018-08-31 18:56:53.6100,0,0,2018-08-31 19:05:47.1720,326.0,E 11 St & 1 Ave,40.729538,-73.984267,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1968171,2018,Aug,442,0,2018-08-31 19:09:28.4020,0,0,2018-08-31 19:16:51.3860,346.0,Bank St & Hudson St,40.736529,-74.006180,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1968332,2018,Aug,1112,0,2018-08-31 19:12:45.9680,0,0,2018-08-31 19:31:18.8100,3233.0,E 48 St & 5 Ave,40.757246,-73.978059,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1968793,2018,Aug,418,0,2018-08-31 19:21:25.2530,0,0,2018-08-31 19:28:23.4290,301.0,E 2 St & Avenue B,40.722174,-73.983688,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1968841,2018,Aug,561,0,2018-08-31 19:22:12.3600,0,0,2018-08-31 19:31:34.3140,382.0,University Pl & E 14 St,40.734927,-73.992005,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1968882,2018,Aug,1366,0,2018-08-31 19:22:55.1790,0,0,2018-08-31 19:45:41.6940,3233.0,E 48 St & 5 Ave,40.757246,-73.978059,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1969435,2018,Aug,515,0,2018-08-31 19:34:33.9570,0,0,2018-08-31 19:43:09.8610,382.0,University Pl & E 14 St,40.734927,-73.992005,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1970116,2018,Aug,744,0,2018-08-31 19:49:16.4590,0,0,2018-08-31 20:01:40.9400,433.0,E 13 St & Avenue A,40.729554,-73.980572,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1970710,2018,Aug,733,0,2018-08-31 20:02:41.8820,0,0,2018-08-31 20:14:55.3430,497.0,E 17 St & Broadway,40.737050,-73.990093,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1971777,2018,Aug,1690,0,2018-08-31 20:28:43.1100,0,0,2018-08-31 20:56:53.4700,3090.0,N 8 St & Driggs Ave,40.717746,-73.956001,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1971983,2018,Aug,892,0,2018-08-31 20:34:43.4180,0,0,2018-08-31 20:49:35.5650,2003.0,1 Ave & E 18 St,40.733812,-73.980544,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1971987,2018,Aug,733,0,2018-08-31 20:34:50.5700,0,0,2018-08-31 20:47:04.5080,433.0,E 13 St & Avenue A,40.729554,-73.980572,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1972394,2018,Aug,618,0,2018-08-31 20:46:41.8860,0,0,2018-08-31 20:57:00.4900,426.0,West St & Chambers St,40.717548,-74.013221,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1972425,2018,Aug,408,0,2018-08-31 20:47:35.2750,0,0,2018-08-31 20:54:23.7820,3695.0,E 5 St & 2 Ave,40.726870,-73.989190,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1972795,2018,Aug,778,0,2018-08-31 20:58:49.5890,0,0,2018-08-31 21:11:47.9440,462.0,W 22 St & 10 Ave,40.746920,-74.004519,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1972963,2018,Aug,1021,0,2018-08-31 21:03:57.2910,0,0,2018-08-31 21:20:58.3320,462.0,W 22 St & 10 Ave,40.746920,-74.004519,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1972998,2018,Aug,951,0,2018-08-31 21:05:03.8440,0,0,2018-08-31 21:20:55.5330,462.0,W 22 St & 10 Ave,40.746920,-74.004519,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1973001,2018,Aug,945,0,2018-08-31 21:05:06.9930,0,0,2018-08-31 21:20:52.1000,462.0,W 22 St & 10 Ave,40.746920,-74.004519,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1973003,2018,Aug,944,0,2018-08-31 21:05:13.9250,0,0,2018-08-31 21:20:58.6800,462.0,W 22 St & 10 Ave,40.746920,-74.004519,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1973241,2018,Aug,427,0,2018-08-31 21:12:33.5800,0,0,2018-08-31 21:19:40.7380,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1973253,2018,Aug,406,0,2018-08-31 21:12:53.9790,0,0,2018-08-31 21:19:40.3810,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1973992,2018,Aug,1155,0,2018-08-31 21:38:41.5740,0,0,2018-08-31 21:57:56.7930,232.0,Cadman Plaza E & Tillary St,40.695977,-73.990149,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1974611,2018,Aug,841,0,2018-08-31 22:02:37.7800,0,0,2018-08-31 22:16:39.1130,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1975047,2018,Aug,2267,0,2018-08-31 22:19:18.4790,0,0,2018-08-31 22:57:06.4420,345.0,W 13 St & 6 Ave,40.736494,-73.997044,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1975359,2018,Aug,939,0,2018-08-31 22:32:47.4910,0,0,2018-08-31 22:48:27.3040,483.0,E 12 St & 3 Ave,40.732233,-73.988900,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1976895,2018,Aug,1526,0,2018-08-31 23:43:22.6620,0,0,2018-09-01 00:08:48.7150,465.0,Broadway & W 41 St,40.755136,-73.986580,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0
1977055,2018,Aug,390,0,2018-08-31 23:52:24.2390,0,0,2018-08-31 23:58:54.4940,301.0,E 2 St & Avenue B,40.722174,-73.983688,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,0

In [53]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [263]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [54]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [265]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Aug')

In [266]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Aug')

In [55]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Aug')

In [56]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))
with open('./2018/station18.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

In [44]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Aug')

In [270]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Aug')

In [271]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Aug')

In [272]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`September`

In [12]:
# Read file and print the number of records and data types
csv_name = "./2018/201809.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
print("Records Sep2018 : " + str(month_df.count()))

Records Sep2018 : tripduration               1877884
starttime                  1877884
stoptime                   1877884
start station id           1877168
start station name         1877168
start station latitude     1877884
start station longitude    1877884
end station id             1877168
end station name           1877168
end station latitude       1877884
end station longitude      1877884
bikeid                     1877884
usertype                   1877884
birth year                 1877884
gender                     1877884
dtype: int64

In [13]:
# Find missing values to define what to do with them
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station id                0.038128
start station name              0.038128
end station id                  0.038128
end station name                0.038128
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station latitude          0.000000
start station longitude         0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [14]:
# Replace missing values for stations ids
month_df['start station id'] = month_df['start station id'].transform(lambda x: x.fillna(8000))
month_df['end station id'] = month_df['start station id'].transform(lambda x: x.fillna(9000))

In [15]:
# Verify that there only the name stations are missing values
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station name              0.038128
end station name                0.038128
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station id                0.000000
start station latitude          0.000000
start station longitude         0.000000
end station id                  0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [16]:
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Sep')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Autumn')
month_df.insert(24, 'mileage', 0)

In [17]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [275]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [18]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [277]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Sep')

In [278]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Sep')

In [19]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Sep')

In [20]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [48]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Sep')

In [282]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Sep')

In [283]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Sep')

In [284]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`October`

In [21]:
# Read file and print the number of records and data types
csv_name = "./2018/201810.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
print("Records Oct2018 : " + str(month_df.count()))

Records Oct2018 : tripduration               1878657
starttime                  1878657
stoptime                   1878657
start station id           1878433
start station name         1878433
start station latitude     1878657
start station longitude    1878657
end station id             1878433
end station name           1878433
end station latitude       1878657
end station longitude      1878657
bikeid                     1878657
usertype                   1878657
birth year                 1878657
gender                     1878657
dtype: int64

In [22]:
# Find missing values to define what to do with them
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station id                0.011923
start station name              0.011923
end station id                  0.011923
end station name                0.011923
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station latitude          0.000000
start station longitude         0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [23]:
# Replace missing values for stations ids
month_df['start station id'] = month_df['start station id'].transform(lambda x: x.fillna(8000))
month_df['end station id'] = month_df['start station id'].transform(lambda x: x.fillna(9000))

In [24]:
# Verify that there only the name stations are missing values
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station name              0.011923
end station name                0.011923
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station id                0.000000
start station latitude          0.000000
start station longitude         0.000000
end station id                  0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [25]:
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Oct')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Autumn')
month_df.insert(24, 'mileage', 0)

In [26]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [287]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [27]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [289]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Oct')

In [290]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Oct')

In [28]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Oct')

In [29]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [52]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Oct')

In [294]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Oct')

In [295]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Oct')

In [296]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`November`

In [30]:
# Read file and print the number of records and data types
csv_name = "./2018/201811.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
print("Records Nov2018 : " + str(month_df.count()))

Records Nov2018 : tripduration               1260355
starttime                  1260355
stoptime                   1260355
start station id           1260275
start station name         1260275
start station latitude     1260355
start station longitude    1260355
end station id             1260275
end station name           1260275
end station latitude       1260355
end station longitude      1260355
bikeid                     1260355
usertype                   1260355
birth year                 1260355
gender                     1260355
dtype: int64

In [31]:
# Find missing values to define what to do with them
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station id                0.006347
start station name              0.006347
end station id                  0.006347
end station name                0.006347
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station latitude          0.000000
start station longitude         0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [32]:
# Replace missing values for stations ids
month_df['start station id'] = month_df['start station id'].transform(lambda x: x.fillna(8000))
month_df['end station id'] = month_df['start station id'].transform(lambda x: x.fillna(9000))

In [33]:
# Verify that there only the name stations are missing values
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station name              0.006347
end station name                0.006347
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station id                0.000000
start station latitude          0.000000
start station longitude         0.000000
end station id                  0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [34]:
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Nov')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Autumn')
month_df.insert(24, 'mileage', 0)

In [35]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [299]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [36]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [301]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Nov')

In [302]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Nov')

In [37]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Nov')

In [38]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [56]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Nov')

In [306]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Nov')

In [307]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Nov')

In [308]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

`December`

In [39]:
# Read file and print the number of records and data types
csv_name = "./2018/201812.csv"
month_df = pd.read_csv(csv_name, low_memory=False) 
print("Records Dec2018 : " + str(month_df.count()))

Records Dec2018 : tripduration               1016505
starttime                  1016505
stoptime                   1016505
start station id           1016416
start station name         1016416
start station latitude     1016505
start station longitude    1016505
end station id             1016416
end station name           1016416
end station latitude       1016505
end station longitude      1016505
bikeid                     1016505
usertype                   1016505
birth year                 1016505
gender                     1016505
dtype: int64

In [40]:
# Find missing values to define what to do with them
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station id                0.008755
start station name              0.008755
end station id                  0.008755
end station name                0.008755
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station latitude          0.000000
start station longitude         0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [41]:
# Replace missing values for stations ids
month_df['start station id'] = month_df['start station id'].transform(lambda x: x.fillna(8000))
month_df['end station id'] = month_df['start station id'].transform(lambda x: x.fillna(9000))

In [42]:
# Verify that there only the name stations are missing values
percent_missing = month_df.isnull().sum() * 100 / len(month_df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

                         percent_missing
start station name              0.008755
end station name                0.008755
tripduration                    0.000000
starttime                       0.000000
stoptime                        0.000000
start station id                0.000000
start station latitude          0.000000
start station longitude         0.000000
end station id                  0.000000
end station latitude            0.000000
end station longitude           0.000000
bikeid                          0.000000
usertype                        0.000000
birth year                      0.000000
gender                          0.000000

In [43]:
# Add columns to make transformations
month_df.insert(0, 'year', 2018)
month_df.insert(1, 'month', 'Dec')
month_df.insert(3, 'tripdurmin', 0)
month_df.insert(5, 'starthour', 0)
month_df.insert(6, 'weekday', 0)
month_df.insert(16, 'distance', 0)
month_df.insert(21, 'age', 0)
month_df.insert(22, 'sgender', '')
month_df.insert(23, 'season', 'Winter')
month_df.insert(24, 'mileage', 0)

In [44]:
# Transform the values for gender
month_df.loc[month_df['gender'] == 0, 'sgender'] = 'Unknown'
month_df.loc[month_df['gender'] == 1, 'sgender'] = 'Male'
month_df.loc[month_df['gender'] == 2, 'sgender'] = 'Female'

# Calculate the age of the person considering that the year was 2018
month_df['age'] = 2018 - month_df['birth year']

# Transform the durantion of the trip from seconds to minutes
month_df['tripdurmin'] = month_df['tripduration'] / 60

# Extact the hour fron the startime
month_df['starthour'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%H')

# Calculate the weekday fron the startime
month_df['weekday'] = pd.to_datetime(month_df["starttime"]).dt.strftime('%A')

In [311]:
# Calcularte the distance in miles from start station to end station
month_df['distance'] = month_df.apply(lambda row: distance((row['start station latitude'],row['start station longitude']), 
                         (row['end station latitude'], row['end station longitude'])),
                         axis=1)

In [45]:
# Transform the values for mileage estimates - assumed speed of 7.456 miles per hour, up to two hours. 
month_df.loc[month_df['tripdurmin'] <= 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 7.456

# Trips over two hours max-out at 14.9 miles
month_df.loc[month_df['tripdurmin'] > 120, 'mileage'] = (month_df['tripdurmin'] / 60) * 14.9

In [313]:
# Usertype + Gender
user_df = month_df.groupby(['usertype', 'sgender']).agg({i:'count' for i in month_df.columns[19:20]})
user_df.reset_index(inplace=True)
user_df.rename(columns={"sgender":"gender", "birth year":"trips"}, inplace=True)
user_df.insert(0, 'year', 2018)
user_df.insert(1, 'month', 'Dec')

In [314]:
# Trips by hour, season and weekday
season_df = month_df.groupby(['starthour', 'season', 'weekday']).agg({i:'count' for i in month_df.columns[19:20]})
season_df.reset_index(inplace=True)
season_df.rename(columns={"birth year":"trips"}, inplace=True)
season_df.insert(0, 'year', 2018)
season_df.insert(1, 'month', 'Dec')

In [46]:
# Start Stations
stat_df = month_df.groupby(['start station id',]).agg({i:'count' for i in month_df.columns[19:20]})
stat_df.reset_index(inplace=True)
stat_df.rename(columns={"start station id" : "stationid", "birth year":"startrips"}, inplace=True)
stat_df.insert(0, 'year', 2018)
stat_df.insert(1, 'month', 'Dec')

In [47]:
# End Stations
statend_df = month_df.groupby(['end station id',]).agg({i:'count' for i in month_df.columns[19:20]})
statend_df.reset_index(inplace=True)
statend_df.rename(columns={"end station id" : "stationid", "birth year":"endtrips"}, inplace=True)

# Merge the start trips with the end trips by station id
stat_df = stat_df.merge(statend_df, how="outer", left_on='stationid', right_on='stationid', suffixes=('_left', '_right'))

In [60]:
# Age - Trip duration
agedur_df = month_df.groupby(by=['age','usertype'])['tripdurmin'].agg(['count', 'mean'])
agedur_df.reset_index(inplace=True)
agedur_df.insert(0, 'year', 2018)
agedur_df.insert(1, 'month', 'Dec')

In [318]:
# Bikes
bike_df = month_df.groupby(by=['bikeid'])['distance'].agg(['count', sum, 'mean', 'std'])
bike_df.reset_index(inplace=True)
bike_df.rename(columns={"count":"trips", "sum" : "totmiles", "mean" : "avgmiles", "std" : "stdmiles"}, inplace=True)
bike_df.insert(0, 'year', 2018)
bike_df.insert(1, 'month', 'Dec')

In [319]:
# Bikes considering trip duration to calculate the mileage 
bikemil_df = month_df.groupby(by=['bikeid'])['mileage'].agg(['count', sum, 'mean', 'std'])
bikemil_df.reset_index(inplace=True)
bikemil_df.rename(columns={"count":"trips", "sum" : "totmileage", "mean" : "avgmileage", "std" : "stdmileage"}, inplace=True)
bikemil_df.insert(0, 'year', 2018)
bikemil_df.insert(1, 'month', 'Dec')

In [320]:
with open('./2018/user2018.csv', 'a') as f:
    user_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/season2018.csv', 'a') as f:
    season_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/station2018.csv', 'a') as f:
    stat_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/agedur2018.csv', 'a') as f:
    agedur_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/bike2018.csv', 'a') as f:
    bike_df.to_csv(f, encoding="utf-8", index=False, header=False)

with open('./2018/mileage2018.csv', 'a') as f:
    bikemil_df.to_csv(f, encoding="utf-8", index=False, header=False)

### __Stations with trips but not in the JSON file (catalog)__

In [47]:
# Read file and print the number of records and data types
csv_name = "./2018/station2018.csv"
stations_df = pd.read_csv(csv_name, low_memory=False) 
csv_name = "./2018/stationsny.csv"
catalogue_df = pd.read_csv(csv_name, low_memory=False)

In [48]:
# Merge data 
stations_df = stations_df.merge(catalogue_df, how="outer", left_on='stationid', right_on='Id', suffixes=('_left', '_right'))

In [49]:
# View results
stations_df.head()

,year,month,stationid,startrips,endtrips,NÃºmero de registros,NÃºmero de registros por stations.json,Altitude,Available Bikes,Available Docks,...,Postal Code,stAddress1,stAddress2,stationBeanList Ãndice (generado),Station Name,Status Key,Status Value,Test Station,Total Docks,Ãndice Del Documento (Generado)
0,2018.0,Jan,72.0,1324.0,1322.0,1.0,1.0,NaN,9.0,44.0,...,NaN,W 52 St & 11 Ave,NaN,21.0,W 52 St & 11 Ave,1.0,In Service,Falso,55.0,1.0
1,2018.0,Feb,72.0,1504.0,1526.0,1.0,1.0,NaN,9.0,44.0,...,NaN,W 52 St & 11 Ave,NaN,21.0,W 52 St & 11 Ave,1.0,In Service,Falso,55.0,1.0
2,2018.0,Mar,72.0,2127.0,2142.0,1.0,1.0,NaN,9.0,44.0,...,NaN,W 52 St & 11 Ave,NaN,21.0,W 52 St & 11 Ave,1.0,In Service,Falso,55.0,1.0
3,2018.0,Apr,72.0,2797.0,2807.0,1.0,1.0,NaN,9.0,44.0,...,NaN,W 52 St & 11 Ave,NaN,21.0,W 52 St & 11 Ave,1.0,In Service,Falso,55.0,1.0
4,2018.0,May,72.0,4602.0,4614.0,1.0,1.0,NaN,9.0,44.0,...,NaN,W 52 St & 11 Ave,NaN,21.0,W 52 St & 11 Ave,1.0,In Service,Falso,55.0,1.0

In [52]:
# Create an array with the stations ids from trips
stat_trip = stations_df['stationid'].unique()

In [53]:
# Create an array with the stations ids from catalog
stat_cat = stations_df['Id'].unique()

In [57]:
print("Unique id of stations that are not in the catalog:")
print(np.setdiff1d(stat_trip, stat_cat))

Unique id of stations that are not in the catalogue:
[ 152.  232.  253.  306.  322.  345.  407.  409.  428.  430.  433.  449.
  457.  527.  537. 2001. 3036. 3040. 3073. 3090. 3091. 3103. 3120. 3147.
 3153. 3176. 3180. 3183. 3224. 3238. 3239. 3240. 3245. 3250. 3258. 3316.
 3325. 3371. 3401. 3421. 3426. 3428. 3431. 3432. 3438. 3441. 3447. 3455.
 3462. 3466. 3468. 3474. 3485. 3487. 3488. 3489. 3594. 3625. 3632. 3635.
 3642. 3643. 3644. 3645. 3650. 3651. 3652. 3653. 3658. 3660. 3663. 3666.
 3669. 3672. 3683. 3684. 3685. 3688. 3695. 3700. 3701. 3705. 3719.   nan]